* {
    box-sizing: border-box;
    margin: 0;
}

header,
nav,
main,
footer {
    color: black;
    background-color: white;
}

nav     {height: 10vh;}
header  {height: 20vh;}
main    {height: 55vh;}
footer  {height: 5vh;}

.triangulo {
    float: left;
    padding: 20px;
    max-width:50vh
}
.card {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(116, 116, 116);
}

.row::after {
    content: "";
    clear: both;
    display: table;
}



[class*="col-"] {
    float: left;
    padding: 15px;
}

/* chichem la merda perque funcioni en mobil primer */

/* Mobile First --> Default columns */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .col-sm-1 {width: 8.33%;}
  .col-sm-2 {width: 16.66%;}
  .col-sm-3 {width: 25%;}
  .col-sm-4 {width: 33.33%;}
  .col-sm-5 {width: 41.66%;}
  .col-sm-6 {width: 50%;}
  .col-sm-7 {width: 58.33%;}
  .col-sm-8 {width: 66.66%;}
  .col-sm-9 {width: 75%;}
  .col-sm-10 {width: 83.33%;}
  .col-sm-11 {width: 91.66%;}
  .col-sm-12 {width: 100%;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 75%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 100%;}
  aside, main{height: 70vh;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .col-lg-1 {width: 8.33%;}
  .col-lg-2 {width: 16.66%;}
  .col-lg-3 {width: 25%;}
  .col-lg-4 {width: 33.33%;}
  .col-lg-5 {width: 41.66%;}
  .col-lg-6 {width: 50%;}
  .col-lg-7 {width: 58.33%;}
  .col-lg-8 {width: 66.66%;}
  .col-lg-9 {width: 75%;}
  .col-lg-10 {width: 83.33%;}
  .col-lg-11 {width: 91.66%;}
  .col-lg-12 {width: 100%;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .col-xl-1 {width: 8.33%;}
  .col-xl-2 {width: 16.66%;}
  .col-xl-3 {width: 25%;}
  .col-xl-4 {width: 33.33%;}
  .col-xl-5 {width: 41.66%;}
  .col-xl-6 {width: 50%;}
  .col-xl-7 {width: 58.33%;}
  .col-xl-8 {width: 66.66%;}
  .col-xl-9 {width: 75%;}
  .col-xl-10 {width: 83.33%;}
  .col-xl-11 {width: 91.66%;}
  .col-xl-12 {width: 100%;}
}


.cabecera{
    width:250px;
    margin-left: 5vw;
}

nav {
  background-color: rgb(22,22,22);
  margin-bottom: 3rem;
}

.champs {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(116, 116, 116);
  text-align:center;
}

img:hover{
    transition:transform 3s;
    transform: scale(1.05) rotate(360deg);
}

img {
  height: auto;
  border-radius: 5%
}



footer {
  color: white ;
  background-color: rgb(22,22,22);  
}

h4 {
  text-align: center;
}

.price {
  text-align: center;
}
.navButtons {  
    float: right;
    margin-right: 5vw;
    margin-top: 2vh;
  }

footer {
    float:left;
    height:75px;
}


